
@keyframes scaleUp {
    from{
        scale: 0;
    }
    to{
        scale: 1;
    }
}
@keyframes correctPop{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes errorShake{
    0%{
        transform: translateX(2px);
    }
    50%{
        transform: translateX(-2px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes underLineExit{
    0%{
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(0);
    }
}
@keyframes underLineEnter{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}
