@font-face {
    font-family: "FuturaPT";
    src: url("../assets/fonts/FuturaPTLight.otf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "FuturaPT";
    src: url("../assets/fonts/FuturaPTMedium.otf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "FuturaPT";
    src: url("../assets/fonts/FuturaPTCondBold.otf") format("truetype");
    font-weight: 700;
    font-style: normal;
}