/*Reset simple personal*/
@import "font.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "FuturaPT" , sans-serif;

    overflow-x: hidden;
}
input , textarea , button{
    outline: none;
    border: none;

    font-family: inherit;
    color: inherit;
}
ul , ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}